body {
	margin:0px;
	font-family: helvetica;
	background-color: #ecf2f9;
}

h1 {
	text-align: center;
	color: #007fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
form{
	margin: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
h2 {
	
}
h3 {
	color:red;
}

h5 {
	font-size:18px;
	//font-weight:bold;
	color:grey;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

th{
	padding: 10px;
	align: center;
}
.approvedLoans td{
	text-align: center;
}
.approvedLoans form{
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.wraper {
	height: 100%;
	overflow: visible;
}
img{
	box-shadow: 8px 8px 4px #888888;
}
.nav ul{
	width: auto;
	overflow: hidden;
	list-style-type: none;
}
.nav li{
	width: 100px;
	display: inline;
	style: none;
	float: left;
}
a:hover{
	text-decoration: underline;
	font-weight: bold;
}
a{
	color:#204060 !important;
  	text-decoration: none;
	text-transform: uppercase;
	
}
#link{
	
	margin-right: 10px;
	display: inline;
	font-size:14px;
	width: 100px;
	text-align: center;
}
.nav{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	background-image: linear-gradient(to bottom, #edf0f2, #c1cad4);
}
.loans{
	width: 100%;
	border-bottom: 1px solid black;
}
.footer{
	width: 100%;
	height: 35px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	position: fixed;
	bottom: 0;
	background-image: linear-gradient(to bottom, #edf0f2, #c1cad4);
}
.copyright{
	position: right;
	font-size: 12px;
	height: 35px;
	text-align: right;
}
.buffer{
	width: 100%;
	height:12px;
}
.top {
	
	width: 100%;
	background-image: url(../images/TEMPLE-GREY.jpg);
	//background-repeat: no-repeat;
	//background-size:100% 100%;
}

.left {
	width: 60px;
	height: 100vh;
	float: left;
	//background-image: url(../images/TEMPLE-GREY.jpg);
	//box-shadow: 0 0 8px rgba(0, 0, 0, 0.2),
				0 0 20px rgba(0, 0, 0, 0.19);
	
}
.right {
	width: 60px;
	height: 100vh;
	float: right;
	background-image: url(../images/TEMPLE-GREY.jpg);
}
.frame{
	border: 20px solid #ecf2f9; 
	border-left: 40px solid #ecf2f9;
	border-right: 40px solid #ecf2f9;
	//margin-left: 60px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 
	//			0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

.main {
	padding: 20px;
	//margin-top: 20px;
	margin-left: auto;
	//min-height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ecf2f9;
	//background-image: url(../images/marble-white.jpg);
}
.modal-backdrop.in {
    opacity: 0.5 !important;
}